.container {
    display: flex;
    margin-top: 30px;
}

.link {
    margin-right: 20px;
    cursor: pointer;
}

.item {
    transition: transform .3s ease-out
}

.item:hover {
    transform: scale(1.1);
}