.container {
    display: flex;
    margin-top: 30px;
}

.link {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.item {
    transition: transform .3s ease-in-out
}

.item:hover {
    transform: scale(1.1);
}