.container {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.mainContainer {
    padding: 40px 80px 0 80px;
    max-width: 1340px;
    margin: 0 auto;
    height: 100vh
}

.listSection, .formSection {
    width: 50%;
}

.sectionDiv {
    margin-top: 30px;
}

.item {
    display: flex;
    margin-bottom: 25px;
}

.icon {
    color: #535355;
    margin-right: 30px;
}

.address {
    font-size: 1.8rem;
}