.mainContainer {
    padding: 40px 80px 0 80px;
    max-width: 1340px;
    margin: 0 auto;
    height: 100vh
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.listSection, .formSection {
    width: 50%;
    min-width: 300px;
    box-sizing: border-box;
}

.formSection {
    padding-right: 80px;
}

.sectionDiv {
    margin-top: 30px;
}

.item {
    display: flex;
    margin-bottom: 25px;
}

.icon {
    color: #535355;
    margin-right: 30px;
}

.detailsList {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}


address {
    font-size: 1.8rem;
}

@media screen and (max-width: 760px) {
    .mainContainer {
        padding: 40px 20px 0 20px
    }

    .listSection, .formSection {
        width: 100%;
        padding: 0;
    }

    .listSection {
        margin-top: 80px;
    }
}