/* LAYOUT */
.container {
    min-height: 360px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    outline: 1px solid #dcdada;
    border-radius: 15px;
    margin-bottom: 60px;
    box-shadow: -6px 6px 20px 0px rgb(203, 203, 203);
}

.textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    display: flex;
    margin-top: auto;
}

.img {
    border-radius: 10px;
    max-width: 430px;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* TYPOGRAPHY */
.body {
    font-weight: 300;
    color: #535355;
    margin-bottom: 20px;
}

/* MEDIA QUERY */
@media screen and (max-width: 800px) {
    .container {
        flex-wrap: wrap-reverse;
    }

    .img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .textContainer {
        width: 100%;
    }
}