/* LAYOUT */
.mainContainer {
    padding: 40px 80px 200px 80px;
    max-width: 1340px;
    margin: 0 auto;
}

.aboutSection {
    margin: 50px 0 120px 0;
    display: flex;
}

/* TYPOGRAPHY */
.h2 {
    margin-bottom: 40px;
}

.body {
    color: #535355;
    font-weight: 300;
    margin-bottom: 20px;
    max-width: 80%;
}

/* IMAGE */
.img {
    border-radius: 50%;
    border: solid 2px #100F1A;
    filter: grayscale(100%);
    width: 300px;
}