/* LAYOUT */
.mainContainer {
    padding: 40px 80px 200px 80px;
    max-width: 1340px;
    margin: 0 auto;
}

.aboutSection {
    margin: 50px 0 100px 0;
    display: flex;
}

.textContainer {
    width: 60%;
    /* max-width: 600px; */
}


/* TYPOGRAPHY */
.h2 {
    margin-bottom: 40px;
}

.body {
    color: #535355;
    font-weight: 300;
    margin-bottom: 20px;
    width: 90%
}

/* IMAGE */
.img {
    border-radius: 50%;
    border: solid 2px #100F1A;
    filter: grayscale(100%);
    width: 300px;
    margin-bottom: 30px;
    justify-self: flex-end;
}

/* MOBILE */
@media screen and (max-width: 760px) {
    .mainContainer {
        padding: 40px 20px 0 20px;
    }

    .textContainer {
        width: 100%;
    }

    .techSection {
        height: 1200px;
    }

    .aboutSection {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .img {
        width: 200px;
    }

    .body {
        width: 100%;
    }
}