.container {
    max-width: 200px;
}

.img {
    margin-bottom: 10px;
    width: 64px;
    transition: transform .3s ease-out
}

.img:hover {
    transform: rotate(10deg);
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.body {
    font-weight: 300;
}