/* IMAGES */
.container {
    background-image: url(../../assets/graphics/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    max-height: 700px;
    max-width: 80%;
}


/* LAYOUT */
.mainContainer {
    min-height: 90vh;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    padding: 10px 80px;
}

.textContainer, .imgContainer {
    width: 50%;
}

.imgContainer {
    display: flex;
    justify-content: flex-end;
}

.textContainer {
    padding: 120px 0 0 0;
}


/* TYPOGRAPHY */
.heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
    max-width: 600px;
}

.subheading {
    font-weight: 200;
    font-size: 2.6rem;
    color: #535355;
    margin-bottom: 10px;
}

.highlight {
    background: linear-gradient(90deg, rgba(49, 169, 185, 1) 0%, rgba(83, 230, 85, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}

.strong {
    font-weight: 600;
    color: #100F1A;
}

.body {
    color: #535355;
    font-weight: 300;
    margin-bottom: 50px
}