.container {
    padding: 60px 80px;
    background-color: #100F1A;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}


/* TYPOGRAPHY */
.label, .text, .name, .navLink {
    color: #FFF;
}

.label, .name {
    font-weight: 600;
    line-height: 10px;
}

.text, .navLink {
    font-weight: 200;
}

.label {
    margin-bottom: 15px;
}


/* LOGO SECTION */
.logoSection {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.logo {
    width: 50px;
    margin-right: 10px;
}


/* CONTACT SECTION */
.contactList {
    display: flex;
    flex-direction: column;
    max-width: 100%
}

.icon {
    color: #FFF;
    margin-right: 15px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


/* SITEMAP SECTION*/
.navSection {
    max-width: 100%;
}

.linkList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25%;
    row-gap: 30%;
}


/* FOLLOW ME SECTION*/
.linkSection {
    max-width: 100%
}

.socialList {
    display: flex;
}

.link {
    margin-right: 15px;
}

@media screen and (max-width: 760px) {
    .container {
        padding: 60px 20px;
        flex-direction: column;
    }

    .logoSection, .contactList, .navSection {
        margin-bottom: 60px;
    }

    .label, .item, address, .navLink {
        font-size: 1.4rem;
    }

    .linkList {
        width: 50%;
    }

}